lightning==2.5.2
lightning-utilities==0.15.2
matplotlib>=3.10.5
numpy>=2.2.6
pandas>=2.3.1
pytorch-forecasting==1.4.0
pytorch-lightning==2.0.2
streamlit==1.48.0
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0